@import "../../scss/mixins.scss";

.flagContainer  {
    
    display: flex;
    position: relative;
    justify-content: center;

    li {
        padding: 20px;
        flex: 12;
    }


    .switchWrapper  {
        flex: 1;
        position: relative;
    }

    .kebabMenuWrapper   {
        flex: 1;
        position: relative;
    }

}

.centerElement  {
    @include centerElement;
}