@import "../../scss/mixins.scss";

$size: 0.25rem;
$color: rgb(88, 88, 88);
$containerHeight: 2.5rem;

.dot {
    position: absolute;
    height: $size;
    width: $size;
    border-radius: $size;
    background-color: $color;
    @include centerElement;
}


.kebabMenuWrapper   {
    position: absolute;
}

.kebabMenu  {
    position: relative;
    height: $containerHeight;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.3rem 0.6rem 0.3rem 0.6rem;

    & > .upperDotWrapper {
        position: relative;
        flex: 1;
    }
    & > .midDotWrapper {
        position: relative;
        flex: 1;
    }
    & > .lowerDotWrapper {
        position: relative;
        flex: 1;
    }

}

.correctMenuPosition    {
    transform: translateX(-100%);
}