// centerElement must be absolute positioning
// This is because relative positions relative to its initial position
// whereas absolute positions relative to its outer parental boundaries

@mixin centerElement {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin centerElementVertically {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

@mixin centerElementHorizontally {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}